.root {
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;

  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 42px;
    border: 1px solid rgb(0, 155, 119);
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(0, 155, 119);
    transition: all 0.3s ease-out;
    &:hover {
      background-color: rgb(0, 155, 119);
      color: #fff;
    }
  }

  .active {
    a {
      background-color: rgb(0, 155, 119);
      color: #fff;
    }
  }
}

.error {
  display: flex;
  color: tomato;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 80px;
  &::before {
    content: "⚠ ";
  }
}
