.content {
  padding: 40px;
  & h2 {
    margin: 0;
  }
}
.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section {
  display: flex;
  gap: 10px;
  align-items: center;
}
.search {
  display: flex;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding-left: 15px;
  & input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
    outline: 0 !important;
  }
}
.clear {
  cursor: pointer;
}

.input {
  background-color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.error {
  display: flex;
  color: tomato;
  font-weight: 500;
  &::before {
    content: "⚠ ";
  }
}

.loader {
  width: 35px;
  height: 35px;
  display: block;
  margin: 0 auto;
  position: relative;
  border: 3px solid rgb(0, 155, 119);
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 0.8s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: rgb(0, 155, 119);
  transform: rotate(-45deg);
  position: absolute;
  bottom: -21px;
  left: 35px;
}

@keyframes animloader {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
