.block {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.sort {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.text {
  margin-left: 10px;
  font-weight: bold;
  width: 275px;
  & span {
    color: rgb(0, 155, 119);
    text-decoration: underline;
  }
}
.menu {
  position: absolute;
  border: 1px solid #eaeaea;
  padding: 10px;
  width: 225px;
  border-radius: 20px;
  top: 55px;
  left: 10px;
}
.ul {
  margin: 0;
  padding: 0;
}
.li {
  padding: 3px;
  font-weight: bold;
}
